<div id="content">
  <div class="container no-right-padding main-column">
    <div class="row margin-vert-30">
      <!-- Main Column -->
      <div class="col-md-9 background-white">
        <!-- Trip Post -->
        <%if @trips.present?%>
        <%= form_tag trips_list_path, method: :get do %>
        <div class="col-md-11 row margin-top-10">
          <%= text_field_tag :query, params[:query], class: "form-control" %>
        </div>
        <div class="col-md-1 margin-top-10">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary"  %>
        </div>
        <% end %>
        <%@trips.each do |trip|%>
        <%= render :partial=>"layouts/common/trip_post",:locals=>{:trip => trip}%>
        <%end%>
        <%= paginate @trips %>
        <%else%>
        <h2 class="animate fadeIn text-center">No Trips Created.</h2>
        <%end%>
        <!-- End Trip Item -->
      </div>
      <!-- End Main Column -->
      <!-- Side Column -->
      <div class="col-md-3">
        <!-- Recent Posts -->
        <div class="recent-posts col-md-11 background-white">
        <div class="clearfix"></div>
          <h3 class="margin-top-10">Recently Added Trips</h3>
          <ul class="posts-list margin-top-10">
            <%@recent_trips.last(5).each do |t|%>
            <li>
              <div class="recent-post">
                <%= link_to (image_tag t.main_image.thumb.url, :class=>"pull-left small"), trip_path(t)%>
                <%= link_to t.title, trip_path(t)%>
                <br>
                <span class="recent-post-date">
                  <%=t.created_at.strftime("%d %b. %Y")%>
                </span>
              </div>
              <div class="clearfix"></div>
            </li>
            <%end%>
          </ul>
        </div>
        <!-- End Recent Posts -->

        <!-- Most Liked Posts -->
        <div class="recent-posts col-md-11 background-white">
          <h3>Most Liked Trips</h3>
          <ul class="posts-list margin-top-10">
            <%most_liked_trip.first(2).each do |t|%>
            <li>
              <div class="recent-post">
                <%= link_to (image_tag t.main_image.thumb.url, :class=>"pull-left small"), trip_path(t)%>
                <%= link_to t.title, trip_path(t)%>
                <br>
                <span class="recent-post-date">
                  <%=t.created_at.strftime("%d %b. %Y")%>
                </span>
              </div>
              <div class="clearfix"></div>
            </li>
            <%end%>
          </ul>
        </div>
        <!-- End Most Liked Posts -->
      </div>
      <!-- End Side Column -->
    </div>
  </div>
</div>
